In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel(r'/Users/harveycas/Documents/FAES/Python class/python_test_list.xlsx')
print(df)

In [5]:
df_index = df.set_index('Plate')
print(df_index)

       Tetrad spore  viability  NAT  HYG  URA
Plate
1           1    1A          1    1    0    1
1           1    1B          1    1    0    0
1           1    1C          1    0    1    0
1           1    1D          1    0    0    1
1           2    2A          1    1    1    1
1           2    2B          1    1    1    1
1           2    2C          1    1    1    1
1           2    2D          1    1    1    1
1           3    3A          1    1    1    1
1           3    3B          1    0    0    0
1           3    3C          1    1    1    1
1           3    3D          1    0    0    0
1           4    4A          1    1    1    1
1           4    4B          1    1    1    1
1           4    4C          1    0    0    0
1           4    4D          1    0    0    0
1           5    5A          1    1    1    1
1           5    5B          1    1    1    1
1           5    5C          1    0    0    0
1           5    5D          1    0    0    0
1           6    6A          1    0    0    0
1           6    6B          1    0    0    0
1           6    6C          1    0    0    0
1           6    6D          1    0    0    0
1           7    7A          1    1    1    1
1           7    7B          1    1    1    1
1           7    7C          1    1    1    1
1           7    7D          1    1    1    1
1           8    8A          1    1    1    1
1           8    8B          1    0    0    0
1           8    8C          1    1    1    1
1           8    8D          1    0    0    0
1           9    9A          1    1    1    1
1           9    9B          1    0    0    0
1           9    9C          1    1    1    1
1           9    9D          1    0    0    0
1          10   10A          1    1    1    1
1          10   10B          1    0    0    0
1          10   10C          1    1    1    1
1          10   10D          1    0    0    0
1          11   11A          1    1    1    1
1          11   11B          1    0    0    0
1          11   11C          1    1    1    1
1          11   11D          1    0    0    0
1          12   12A          1    1    1    1
1          12   12B          1    0    0    0
1          12   12C          1    1    1    1
1          12   12D          1    0    0    0

In [6]:
sort_by_NAT = df_index.sort_values(['NAT'], ascending=False)
NAT_positive = df_index[df_index['NAT'] > 0]
print(NAT_positive)
dfNAT = pd.DataFrame(NAT_positive)
dfNAT.to_excel("NAT_positive_python_fp.xlsx")

       Tetrad spore  viability  NAT  HYG  URA
Plate
1           1    1A          1    1    0    1
1           1    1B          1    1    0    0
1           2    2A          1    1    1    1
1           2    2B          1    1    1    1
1           2    2C          1    1    1    1
1           2    2D          1    1    1    1
1           3    3A          1    1    1    1
1           3    3C          1    1    1    1
1           4    4A          1    1    1    1
1           4    4B          1    1    1    1
1           5    5A          1    1    1    1
1           5    5B          1    1    1    1
1           7    7A          1    1    1    1
1           7    7B          1    1    1    1
1           7    7C          1    1    1    1
1           7    7D          1    1    1    1
1           8    8A          1    1    1    1
1           8    8C          1    1    1    1
1           9    9A          1    1    1    1
1           9    9C          1    1    1    1
1          10   10A          1    1    1    1
1          10   10C          1    1    1    1
1          11   11A          1    1    1    1
1          11   11C          1    1    1    1
1          12   12A          1    1    1    1
1          12   12C          1    1    1    1

In [7]:
sort_by_HYG = df_index.sort_values(['HYG'], ascending=False)
HYG_positive = df_index[df_index['HYG'] > 0]
print(HYG_positive)
dfNAT = pd.DataFrame(HYG_positive)
dfNAT.to_excel("HYG_positive_python_fp.xlsx")

       Tetrad spore  viability  NAT  HYG  URA
Plate
1           1    1C          1    0    1    0
1           2    2A          1    1    1    1
1           2    2B          1    1    1    1
1           2    2C          1    1    1    1
1           2    2D          1    1    1    1
1           3    3A          1    1    1    1
1           3    3C          1    1    1    1
1           4    4A          1    1    1    1
1           4    4B          1    1    1    1
1           5    5A          1    1    1    1
1           5    5B          1    1    1    1
1           7    7A          1    1    1    1
1           7    7B          1    1    1    1
1           7    7C          1    1    1    1
1           7    7D          1    1    1    1
1           8    8A          1    1    1    1
1           8    8C          1    1    1    1
1           9    9A          1    1    1    1
1           9    9C          1    1    1    1
1          10   10A          1    1    1    1
1          10   10C          1    1    1    1
1          11   11A          1    1    1    1
1          11   11C          1    1    1    1
1          12   12A          1    1    1    1
1          12   12C          1    1    1    1

In [8]:
sort_by_URA = df_index.sort_values(['URA'], ascending=False)
URA_positive = df_index[df_index['HYG'] > 0]
print(URA_positive)
dfNAT = pd.DataFrame(URA_positive)
dfNAT.to_excel("URA_positive_python_fp.xlsx")

       Tetrad spore  viability  NAT  HYG  URA
Plate
1           1    1C          1    0    1    0
1           2    2A          1    1    1    1
1           2    2B          1    1    1    1
1           2    2C          1    1    1    1
1           2    2D          1    1    1    1
1           3    3A          1    1    1    1
1           3    3C          1    1    1    1
1           4    4A          1    1    1    1
1           4    4B          1    1    1    1
1           5    5A          1    1    1    1
1           5    5B          1    1    1    1
1           7    7A          1    1    1    1
1           7    7B          1    1    1    1
1           7    7C          1    1    1    1
1           7    7D          1    1    1    1
1           8    8A          1    1    1    1
1           8    8C          1    1    1    1
1           9    9A          1    1    1    1
1           9    9C          1    1    1    1
1          10   10A          1    1    1    1
1          10   10C          1    1    1    1
1          11   11A          1    1    1    1
1          11   11C          1    1    1    1
1          12   12A          1    1    1    1
1          12   12C          1    1    1    1

In [9]:
all_positive = {'NAT_plus': NAT_positive, 'HYG_plus': HYG_positive, 'URA_plus': URA_positive}
writer = pd.ExcelWriter('Antibiotic_markers.xlsx', engine='xlsxwriter')

for sheet_name in all_positive.keys():
    all_positive[sheet_name].to_excel(writer, sheet_name=sheet_name, index=False)
    
writer.save()